body{
    /*background: #808080;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color:white;
font-family:"RocknRoll One";
}
.hero{
    background-image: url(../image/epic.jpg);
    background-image:cover;
  height:43vw;
}
.hero h3{
    margin-top:90px;
    margin-bottom:90px;
}
.hero h1{
    margin-top:90px;
}
.hero1 {
    text-align:center;
}
.go{
    margin:10px;
}


.about{
    font-family:bold;
}
.about h1{
    margin-top:50px;
    color:#27ae60;
}
.about h3{
    color:#27ae60;
}
.about p,li{
    font-weight:bold;
    font-size: 20px;
}
.about hr{
    
        width:490px;
            margin-top:1px;
            margin-bottom:40px;
            border:6px solid #27ae60;
           color:#27ae60;
            border-radius:5px;
       
}
.buying{
    margin-bottom:30px;
    color:#27ae60;
}

.more a{
    
    text-decoration: none;
    color:black;
    
}
#sells{
    color:#27ae60;
}
.partners{
    margin-bottom:60px;
    color:#27ae60;
}
.footer{
    background-color:#00b894;
}
.footer a  h1{
    margin-bottom:100px;
    text-decoration:none;
    color:black;
}
.footer-list li{
    margin-top:20px;
    margin-bottom:10px;
}